.rows{
    padding-left: 320px;
    color:white;
    font-size: 30px;
}
.rows2{
    padding-left: 100px;
    color:white;
    font-size: 30px;
    width: 100px;
}
.box2{
    position: absolute;
    top: 450px;
}
.box3{
    position: absolute;
    top: 1000px;
}
.box1{
    padding: 10px;
}
#formP{
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
}
.h2s{
    color:wheat;
    margin-left: 600px;
    font-size: 50px;
    width: 930px;
}
#form-style{
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    top: 180px;
    left: 34%;
    border: 2px lime solid;
    bottom: 20px;

}
#form-style>label{
    color: white;
    font-size: 30px;
    padding: 7px;
}